<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DrPEDatabaseEntities" connectionString="metadata=res://*/DrPEDatabaseModel.csdl|res://*/DrPEDatabaseModel.ssdl|res://*/DrPEDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VEJ-F80S\DRPE_SERVER;Initial Catalog=DrPEDatabase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>