<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>    
    <add name="DrPEDatabaseEntities" connectionString="metadata=res://*/DrPEDatabaseModel.csdl|res://*/DrPEDatabaseModel.ssdl|res://*/DrPEDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VEJ-F80S\DRPE_SERVER;initial catalog=DrPEDatabase;Persist Security Info=True;User ID=sa;Password=Potation128;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576"/>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/><!--Notice!-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      
      <service name="DrPEServer.DrPEServerService.UserService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="DrPEServer.DrPEServerService.IUserService" />
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="mex"/>
      </service>
      
      <service name="DrPEServer.DrPEServerService.OpenAccessService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="DrPEServer.DrPEServerService.IOpenAccessService" />
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="mex"/>
      </service>

      <service name="DrPEServer.DrPEServerService.PharmacyService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="DrPEServer.DrPEServerService.IPharmacyService" />
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="mex"/>
      </service>

      <service name="DrPEServer.DrPEServerService.DoctorService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="DrPEServer.DrPEServerService.IDoctorService" />
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="mex"/>
      </service>

      <service name="DrPEServer.DrPEServerService.SevenService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="DrPEServer.DrPEServerService.ISevenService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>

    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxConnections="10">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
 

  </system.serviceModel>
</configuration>
